<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>FAQ</title>
  <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="/style_faq.css">

<!-- Bootstrap -->
        <!-- --------------BootStrap Inclusion Starts--------------------- -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- --------------BootStrap Inclusion Ends--------------------- -->

    <!-- CSS -->
        <!-- --------------FontAwesome Inclusion Starts--------------------- -->
        <link rel="stylesheet" href="/css/all.min.css">
        <!-- --------------FontAwesome Inclusion Ends--------------------- -->
      <style>
        .btn-dark{
          background-color: #202020;
        }
      </style>

</head>
<body>

  <section id="header-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <span style="font-size: 2em; color: black;">
                 <i class="fas fa-book-open"></i>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <h2 class="my-name-top">Book Donation&nbsp&nbsp&nbsp&nbsp&nbsp</h2>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>



      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
              <a class="nav-link" href="/" style="padding-top: 12px;">
                <span style="font-size: 1em; color: black; padding-top: 5em;">
                  <i class="fas fa-angle-double-up"></i>
                  <span class="sr-only">(current)</span>
                </span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Homepage&nbsp&nbsp&nbsp<span class="sr-only">(current)</span></a>
          </li>
          </ul>         
      </div>
    </nav>
  </section>

  
 
<div class="container">
 
  <h2>FAQ</h2>
 
  <div class="accordion">
    <div class="accordion-item">
      <a>How to register an Email ID?</a>
      <div class="content">
        <p>Open the website, click on "G Login", and register using any google email ID.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>How to login?</a>
      <div class="content">
        <p>After registering, login into your account using the same email ID. </p>
      </div>
    </div>
    <div class="accordion-item">
      <a>How to upload book(s) for donation?</a>
      <div class="content">
        <p>After logging in, select the option "Upload Book", then fill all the necessary details of the book & your contact information, and upload it on the website.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>How to register organisation?</a>
      <div class="content">
        <p>After logging in, select the option "Register Organisation", then fill all the necessary details of your organisation & your contact information, and upload it on the website.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>How to put a request for book(s) donation?</a>
      <div class="content">
        <p>After logging in, select the option "Put Request", then fill all the necessary details & your contact information, and upload it on the website.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>How to search for book(s)?</a>
      <div class="content">
        <p>After logging in, select the option "Find Books", then all the uploaded books will appear.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>How to search for organisations?</a>
      <div class="content">
        <p>After logging in, select the option "Register Organisation", then all the organisations will appear.</p>
      </div>
    </div>
  </div>
  
</div>
 
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script  src="/function_faq.js"></script>
 
</body>
</html>