<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <title>Book Donation</title>

        <!-- Bootstrap -->
        <!-- --------------BootStrap Inclusion Starts--------------------- -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!-- --------------BootStrap Inclusion Ends--------------------- -->
           
        <!-- --------------FontAwesome Inclusion Starts--------------------- -->
        <link rel="stylesheet" href="/css/all.min.css">
        <!-- --------------FontAwesome Inclusion Ends--------------------- -->
        <!-- CSS -->
        <link rel="stylesheet" href="/style_index.css">
    </head>

    


<body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <!--Nav-bar Starts-->
    <section id="header-navbar">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <span style="font-size: 2em; color: black;">
                   <i class="fas fa-book-open"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <h2 class="my-name-top">Book Donation&nbsp&nbsp&nbsp&nbsp&nbsp</h2>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                  <span style="font-size: 1em; color: black;">
                    <i class="fas fa-angle-double-up"></i>
                    <span class="sr-only">(current)</span>
                  </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Home&nbsp&nbsp&nbsp<span class="sr-only">(current)</span></a>
            </li>
          
            <li class="nav-item active">
                <a class="nav-link" href="#features">
                  <span style="font-size: 1em; color: black;">
                    <i class="fa fa-plus-circle"></i>
                  </span>
                </a>
            </li>
  
            <li class="nav-item">
                <a class="nav-link" href="#features">Features&nbsp&nbsp&nbsp</a>
            </li>
  
            <li class="nav-item active">
                <a class="nav-link" href="#footer-description">
                  <span style="font-size: 1em; color: black;">
                    <i class="fas fa-headset"></i>
                  </span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#footer-description">ContactUs&nbsp&nbsp&nbsp</a>
            </li>
          

          <li class="nav-item active">
            <a class="nav-link" href="/faq">
              <span style="font-size: 1em; color: black;">
                <i class="far fa-question-circle"></i>
              </span>
            </a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
        </ul>

          <form class="form-inline my-2 my-lg-0"></form>

          <a class="nav-link" href="/google" >
            
            <button class="btn btn-outline-light btn btn-dark" type="submit" style="width: 4.5cm;"><i class="fab fa-google"--></i>&nbsp&nbspLogin</button>
          </a>

          </form>

        </div>
      </nav>
    </section>
<!--Nav-bar Ends-->
  
  
  
  
    <section id="jumbotron-full">
      <div class="jumbotron cst-jumbo-full">
        <h1 class="display-1 cst-jumbo-main-msg">Book Donation</h1>
        
        <hr class="my-4">
      </div>
    </section>


  </br></br>


    <section class="cst-carddeck-name" id="features">
      <p class="cst-carddeck-head"><i class="fa fa-plus-circle"></i>&nbsp&nbspFeatures we provide</p>
    </section>


  </br></br>


    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/images/bg_19.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Book Uploading</h5>
          <p class="card-text">You can upload Book(s) for donation</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="/images/bg_22.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Registration of Organisations</h5>
          <p class="card-text">We allow authorised organisation to register for donation</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="/images/bg_15.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Posting Request</h5>
          <p class="card-text">User can post a request asking for donation</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/images/bg_13.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Look for the Doner/Books</h5>
          <p class="card-text">You can find and look for the contact details of the doner</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="/images/bg_14.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Search for Organisation(s) or Request(s)</h5>
          <p class="card-text">You can search for registered organisations and posted requests</p>
        </div>
     </div>
     </div>
  

  </br></br>


    <section id="footer-description">
      <footer class="page-footer font-small teal pt-3">
        <div class="container-fluid text-center text-md-left">
          <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
              <h2 class="text-uppercase font-weight-bold">Our Mission</h2>
              <p>To develop a easy and informative webiste for people to donate books,and for those who needs books. Single person or 
                any organisation, anyone can register itself. It is highly secured as it used Google Login for registartion, once logged in you can 
                upload details of books you have, for donation along with your contact details. If you are a non profitable organisation like an orphange, you can register 
                your organisation, so that people can easily find your contact details. If you need any book urgently, you can also put a request for it.
              </br><b>This all makes the process of book donation very easy.</b>
               </p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-6 mb-md-0 mb-3 footer_02">

              <h2 class="text-uppercase font-weight-bold">Contact Us</h2>
              <p>Email ID : bookdonation@gmail.com</br>Phone Number : +91-9898989898</p>

              <section id="contact-form">                
                <div class="my-container cst-contactfrom  col-md-6 mb-5" style="padding: 0%;">
                  <h2>For any Queries, email us at</h2>
                  </br>
                  <form action="mailto:digitalstudy.class@gmail.com" method="post" enctype="text/plain">
                    <input type="text" class ="form-control" name="yourname" placeholder="Your Name:" required/>
                  </br>
                    <input type="email" class ="form-control" name="email" placeholder="Your Email ID:" />
                  </br>
                    <input type="text" class ="form-control" name="comments" placeholder="Comment:" required/>
                  </br>
                    <button class="btn btn-outline-light btn btn-dark" type="submit">Send</button>
                  </form>
                </div>  
              </section>
            </div>
          </div>
        </div>
      </footer>


      <footer class="page-footer font-small cyan darken-3">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-3 py-2">
              <div class="d-flex aign-items-center">
                <!-- Facebook -->
                <a class="fb-ic cst-footer-icon" href="https://www.facebook.com">
                  <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic cst-footer-icon" href="https://www.twitter.com">
                  <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic cst-footer-icon" href="https://www.instagram.com">
                  <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Pinterest-->
                <a class="pin-ic cst-footer-icon" href="https://in.pinterest.com/">
                  <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://bookdonation.com/">BookDonation.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    </section>
</body>
</html>